<div id="myModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <span><button type='button' class="btn" >Close</button></span>
        <h4 class="modal-title">Latest Courses</h4>
        <div class="modal-body">
        </div>
    </div>
</div>