<% if(currentUser) { %>
    <h2 class="pageTitle" >Chat</h2>
    <form id="chatForm">
        <div class="input-container ic2">
            <input class="input-chat" type="text" id="chat-input" placeholder=" ">
            <button type="submit" class="submit-chat">Submit</button>
        </div>
        <input id="chat-user-id"  type="hidden" value="<%= currentUser._id%>" >
        <input id="chat-user-name" type="hidden" value="<%= currentUser.fullName%>" >
    </form>
    <div class="container content">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">Chat</div>
                    <div class="card-body height3">
                        <ul class="chat-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } else {%>
    <div class="information">
        <h1>Oops...!</h1>
        <p> You can't chat without logging in...</p>
    </div>
<% } %>