<div  class="home-section-wrap">
    <div class="home-section">
        <p class="home-content">
            Please check out all cool new courses by our innovative and creative chefs.
            If you want to see a new course, click the courses page and explore!
            When you see a course you like you can contact us to join
            Soon you'll be cooking in your own home.
        </p>
    </div>
</div>