<!DOCTYPE html>
<html>
    <head>
        <title>Confetti Cuisine</title>
        <meta char="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            section {
                align-items: center;
                justify-content: center;
            }
            p {
                float : center;
                font-size: 35px;
                justify-content: center;
                padding : auto;
                padding-left: 5%;
                padding-right: 5%;
                font-family:cursive;
                font-style: italic;
                font-weight:lighter;
            }
        </style>
    </head>
    <body>
        <header><h1>Welcome!</h1></header>
        <section>
        <p>
            Please check out all cool new courses by our innovative and creative chefs.
            If you want to see a new course, click the courses page and explore!
            When you see a course you like you can contact us to join
            Soon you'll be cooking in your own home.
        </p>
    </section>
    
    </body>
</html>