<form action="/users/login" method="POST">
    <h2>Login : </h2>
    <label for="inputEmail">Email</label>
    <input id="inputEmail" name="email" placeholder="Email" type="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input id="inputPassword" name="password" placeholder="Password" type="password" required>
    <button type="submit">Submit</button>
</form>