<div class="courseContainer">
    <h2 class="formTitle">Register</h2>
    <form class="form" autocomplete="off" action='/users/create' method='POST' >
        <!-- <div class="title">Welcome</div> -->
        <div class="input-container ic1">
            <input type='text' id='inputFirst' class="input" name='first' placeholder=' ' required autofocus>
            <div class="cut"></div>
            <label for="inputFirst" class="placeholder">First Name</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="text" id="inputlast" placeholder=" " name='last' required>
            <div class="cut cut-short"></div>
            <label for=" inputlast" class="placeholder" >Last Name</label>
        </div>
        <div class="input-container ic2">
            <input class="input" autocomplete="false" type="text" id="inputEmail" placeholder=" " name='email' required>
            <div class="cut cut-short"></div>
            <label for=" inputEmail" class="placeholder" >Email</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="number" id="inputZipCode" placeholder=" " name='zipCode' required>
            <div class="cut cut-short"></div>
            <label for="inputZipCode" class="placeholder" >Zip Code</label>
        </div>
        <div class="input-container ic2">
            <input class="input" type="password" id="inputPassword" placeholder=" " name='password' required>
            <div class="cut cut-short"></div>   
            <label for="inputPassword" class="placeholder" >Password</label>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>